server:
  port: 8082

spring:
#  rabbitmq:
#    host: "localhost"
#    port: 5672
#    username: "guest"
#    password: "guest"
  profiles:
    active: "default"  # Change from "docker" for local development
  config:
    import: "optional:configserver:${CONFIG_SERVICE_URL:http://localhost:9999}"
  application:
    name: chanson  # This should match your config in GitHub repo
  datasource:
    url: 'jdbc:h2:mem:chansonsdb'
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
    discovery:
      enabled: true  # Ajoutez ceci

eureka:
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true
    hostname: localhost

resilience4j.circuitbreaker:
  configs:
    default:
      slidingWindowSize: 10
      permittedNumberOfCallsInHalfOpenState: 2
      failureRateThreshold: 50
      waitDurationInOpenState: 10000

management:
  endpoints:
    web:
      exposure:
        include: '*'