server:
  port: 8081

spring:
  profiles:
    active: "prod"
  config:
    import: "optional:configserver:http://localhost:9999/"
  application:
    name: genre
  datasource:
    url: 'jdbc:h2:mem:chandb'
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  cloud:
    config:
      enabled: false
    discovery:
      enabled: false
  eureka:
    client:
    service-url:
    defaultZone: 'http://localhost:8761/eureka/'
management:
  endpoints:
    web:
      exposure:
        include: '*'
eureka:
  instance:
    prefer-ip-address: true

build :
  version : 1.0
author:
  name: "rayen genre"
  email: "rayenmrad_genre80@gmail.com"
